body{
  background-color: rgb(200, 231, 221);;
}
.App{
  display: flex;
}
textarea{
  width: 50vw;
  height: 100vh;
  padding: 20px;
  font-size: 2rem;
  outline: none;
  background-color: rgb(246, 245, 245);
  border: none;
  resize: none;
}
.markdown{
  width: 50vw;
  height: 100vh;
  padding: 20px;
  border: none;
  outline: none;
  background-color: rgb(200, 231, 221);
}